In [1]:
import pandas as pd

In [2]:

data = {
    'Nombre': ['Ana', 'Luis', 'Marta', 'Carlos', 'Sofía'],
    'Edad': [23, 35, 29, 42, 19],
    'Ciudad': ['Madrid', 'Barcelona', 'Madrid', 'Valencia', 'Barcelona'],
    'Puntaje': [88, 92, 95, 70, 85]
}

df = pd.DataFrame(data)
print(df)

   Nombre  Edad     Ciudad  Puntaje
0     Ana    23     Madrid       88
1    Luis    35  Barcelona       92
2   Marta    29     Madrid       95
3  Carlos    42   Valencia       70
4   Sofía    19  Barcelona       85

Preguntas:
¿Cuántas personas son de Madrid?

¿Cuál es la edad promedio de las personas de Barcelona?

Muestra solo las filas donde el puntaje es mayor a 90.

Agrega una columna llamada "Aprobado" que sea True si el puntaje es mayor o igual a 85, y False en caso contrario.

In [ ]:
madrid=df[df['Ciudad'] == 'Madrid']

madrid['Nombre'].count()

# Otra opción
df[df['Ciudad'] == 'Madrid'].shape[0]

2

In [16]:
Barcelona= df[df['Ciudad'] == 'Barcelona']

Barcelona['Edad'].mean()

# Otra opción:
df[df['Ciudad'] == 'Barcelona']['Edad'].mean()

27.0

In [11]:
df[df['Puntaje']> 90]

  Nombre  Edad     Ciudad  Puntaje
1   Luis    35  Barcelona       92
2  Marta    29     Madrid       95

In [ ]:
df['Aprobado']= df['Puntaje']> 85

Ejerccio un poco más avanzado

In [17]:
data = {
    'Vendedor': ['Ana', 'Luis', 'Marta', 'Carlos', 'Sofía', 'Ana', 'Luis', 'Carlos', 'Marta', 'Sofía'],
    'Producto': ['Laptop', 'Smartphone', 'Tablet', 'Laptop', 'Smartphone', 'Tablet', 'Laptop', 'Tablet', 'Laptop', 'Smartphone'],
    'Cantidad': [5, 3, 2, 4, 1, 5, 3, 2, 6, 3],
    'PrecioUnitario': [1200, 800, 600, 1200, 800, 600, 1200, 600, 1200, 800],
    'FechaVenta': ['2023-05-01', '2023-05-01', '2023-05-02', '2023-05-02', '2023-05-02', '2023-05-03', '2023-05-03', '2023-05-04', '2023-05-04', '2023-05-05']
}

df = pd.DataFrame(data)
df['FechaVenta'] = pd.to_datetime(df['FechaVenta'])
print(df)

  Vendedor    Producto  Cantidad  PrecioUnitario FechaVenta
0      Ana      Laptop         5            1200 2023-05-01
1     Luis  Smartphone         3             800 2023-05-01
2    Marta      Tablet         2             600 2023-05-02
3   Carlos      Laptop         4            1200 2023-05-02
4    Sofía  Smartphone         1             800 2023-05-02
5      Ana      Tablet         5             600 2023-05-03
6     Luis      Laptop         3            1200 2023-05-03
7   Carlos      Tablet         2             600 2023-05-04
8    Marta      Laptop         6            1200 2023-05-04
9    Sofía  Smartphone         3             800 2023-05-05

¿Cuál es el total vendido por cada vendedor?

Crea una columna 'TotalVendido' que sea la multiplicación de 'Cantidad' y 'PrecioUnitario'.

Luego, usa .groupby() para encontrar el total vendido por cada vendedor.

In [ ]:
df['total vendido'] = df['Cantidad']* df['PrecioUnitario']

df.groupby(['Vendedor']).sum()

#Solo para sumar el total vendido

df.groupby(['Vendedor'])['total vendido'].sum()

          Cantidad  PrecioUnitario  total vendido
Vendedor
Ana             10            1800           9000
Carlos           6            1800           6000
Luis             6            2000           6000
Marta            8            1800           8400
Sofía            4            1600           3200

¿Qué producto tuvo el mayor total vendido?

Usa .groupby() para calcular el total vendido por producto y determina cuál fue el que tuvo más ventas.

In [24]:
df.groupby(['Producto'])['total vendido'].sum()

Producto
Laptop        21600
Smartphone     5600
Tablet         5400
Name: total vendido, dtype: int64

¿Qué vendedor vendió más de cada producto?

Usa .groupby() para encontrar el vendedor que más vendió de cada producto.

In [30]:
df.groupby(['Vendedor','Producto'])['total vendido'].sum().sort_values(ascending=False)

Vendedor  Producto
Marta     Laptop        7200
Ana       Laptop        6000
Carlos    Laptop        4800
Luis      Laptop        3600
Sofía     Smartphone    3200
Ana       Tablet        3000
Luis      Smartphone    2400
Carlos    Tablet        1200
Marta     Tablet        1200
Name: total vendido, dtype: int64

Nuevo ejercicio

In [2]:
import pandas as pd

data = {
    'Estudiante': ['Ana', 'Luis', 'Sofía', 'Luis', 'Ana', 'Sofía', 'Luis', 'Ana', 'Sofía'],
    'Materia': ['Matemáticas', 'Matemáticas', 'Matemáticas', 'Historia', 'Historia', 'Historia', 'Ciencias', 'Ciencias', 'Ciencias'],
    'Nota': [85, 90, 95, 88, 92, 84, 78, 89, 91]
}

df = pd.DataFrame(data)

print(df)

  Estudiante      Materia  Nota
0        Ana  Matemáticas    85
1       Luis  Matemáticas    90
2      Sofía  Matemáticas    95
3       Luis     Historia    88
4        Ana     Historia    92
5      Sofía     Historia    84
6       Luis     Ciencias    78
7        Ana     Ciencias    89
8      Sofía     Ciencias    91

Calcula el promedio de notas por estudiante

In [7]:
df.groupby('Estudiante')['Nota'].mean()

Estudiante
Ana      88.666667
Luis     85.333333
Sofía    90.000000
Name: Nota, dtype: float64

Calcula el promedio de notas por materia.

In [9]:
df.groupby('Materia')['Nota'].mean()

Materia
Ciencias       86.0
Historia       88.0
Matemáticas    90.0
Name: Nota, dtype: float64

Encuentra qué estudiante tiene el mayor promedio general.

In [ ]:

Max_nota= df.groupby('Estudiante')['Nota'].mean()

Max_nota.idxmax()

'Sofía'

In [16]:
df.groupby('Estudiante')['Nota'].mean().sort_values(ascending=False)

Estudiante
Sofía    90.000000
Ana      88.666667
Luis     85.333333
Name: Nota, dtype: float64